{% capture biography %}
Ph.D. student at [Nanjing University](https://www.nju.edu.cn/), advised by [Yu-Feng Li](http://www.lamda.nju.edu.cn/liyf/), in the [LAMDA](http://www.lamda.nju.edu.cn/) Group led by [Zhi-Hua Zhou](http://www.lamda.nju.edu.cn/zhouzh/).

Research Intern at Xiaohongshu AllSpark since June 2026, working on agent post-training.

B.Sc. in Computer Science, Nanjing University, 2023. Research: machine learning and artificial general intelligence.
{% endcapture %}{{ biography | markdownify }}
