<section class="service-block">
<h3>Software</h3>
{% capture detail %}
- **LawGPT: A Large Language Model in the Legal Domain.** [[GitHub]](https://github.com/pengxiao-song/LaWGPT)
{% endcapture %}{{ detail | markdownify }}
</section>
<section class="service-block">
<h3>Honor</h3>
{% capture detail %}
- National Scholarship, Nanjing University, Oct 2024
- Outstanding Student, Nanjing University, Nov 2024
- President's Scholarship, Nanjing University, Oct 2023
- Outstanding Graduate, Nanjing University, Jun 2023
{% endcapture %}{{ detail | markdownify }}
</section>
<section class="service-block">
<h3>Academic Service</h3>
{% capture detail %}
Reviewer for:
- AAAI 2024, 2025, 2026
- ICLR 2024, 2025, 2026
- ICML 2024, 2025, 2026
- NeurIPS 2023, 2024, 2025

Meta Reviewer for IJCAI 2025
{% endcapture %}{{ detail | markdownify }}
</section>
<section class="service-block">
<h3>Teaching Assistant</h3>
{% capture detail %}
- **Matrix Computation.** [[Link]](https://cs.nju.edu.cn/liyf/mc24/mc24.html)  
  (For Professor Yu-Feng Li; Spring, 2024)
- **Introduction to Artificial Intelligence.** [[Link]](https://www.lamda.nju.edu.cn/guolz/introai.html)  
  (For Assistant Professor Lan-Zhe Guo; Autumn, 2023)
{% endcapture %}{{ detail | markdownify }}
</section>
